@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&display=swap");

:root {
  --primary: #2d2640;
  --secondary: #95a9c6;
  --dark: #2b272f;
  --mid: #837d87;
  --light: #fafafa;

  --heading: "DM Serif Display", serif;
  --body: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light);
  color: var(--mid);
  font-family: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
